<div fxLayoutAlign="center center">
  <mat-form-field fxFlex="60%">
    <input
      matInput
      type="text"
      (keyup)="todoFilter($event.target.value)"
      placeholder="Ingrese texto"
    />
  </mat-form-field>
</div>
<mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Titulo</mat-header-cell>
    <mat-cell *matCellDef="let elemt">{{ elemt.titulo }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef mat-sort-header
      >Descripción</mat-header-cell
    >
    <mat-cell *matCellDef="let elemt">{{ elemt.description }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="author">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Autor</mat-header-cell>
    <mat-cell *matCellDef="let elemt">{{ elemt.author.completeName }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Precio</mat-header-cell>
    <mat-cell *matCellDef="let elemt">{{ elemt.price }}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayColumns"></mat-row>
</mat-table>

<mat-paginator
  (page)="eventPagination($event)"
  #pagination
  [pageSize]="booksByPage"
  [pageSizeOptions]="pageCombo"
  [length]="totalBooks"
></mat-paginator>
<button mat-fab id="button-add" color="warn" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>
